*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}

body {
  min-height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

@media (max-width: 62em) {
  .hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .hide-for-desktop {
    display: none;
  }
}

.btn {
  padding: 10px 18px;
  font-weight: normal !important;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-block;
}

.bg-primary-color {
  background-color: ghostwhite;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-title {
  font-size: 1.9rem;
  font-weight: lighter;
}

.bg-dark {
  color: white;
  background-color: #304355;
}

.bg-light {
  background-color: #e8e8e8;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  width: 100%;
  display: flex;
  background-color: #304355;
}
.header .logo-container img {
  width: 40px;
}
@media (max-width: 62em) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header .sign-in-options {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
@media (max-width: 36em) {
  .header .sign-in-options {
    font-size: 0.5em;
  }
}
.header .sign-in-options a {
  color: white;
}
.header-menu-dropdown {
  z-index: 10;
  padding: 1.625rem;
  border-radius: 1px;
  top: 70px;
  left: 0;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  position: absolute;
  background-color: white;
}
.header-menu-dropdown a {
  color: black;
  padding: 0.625rem;
  display: block;
}
.header.open {
  position: relative;
}
.header.open .burger-menu > span:first-child {
  transform: rotate(45deg);
}
.header.open .burger-menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .burger-menu > span:last-child {
  transform: rotate(-45deg);
}
.header .burger-menu {
  position: relative;
}
.header .burger-menu > span {
  display: block;
  width: 26px;
  height: 1px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header .burger-menu :not(:last-child) {
  margin-bottom: 6px;
}
.header .logo {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  margin-right: auto;
  flex-wrap: wrap;
}
.header-nav {
  position: relative;
}
.header-nav .nav-items {
  position: relative;
}
.header-nav .nav-items li {
  background-color: #304355;
}
.header-nav .nav-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 20px;
}
.header-nav .nav-items a:hover, .header-nav .nav-items .nav-item-active {
  color: black;
  transition: 200ms ease-in-out;
  background-color: white;
}

.overlady {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-image: linear-gradient(ghostwhite, transparent);
}

.section-title::after {
  background: #d6d6d6;
  content: "";
  display: block;
  height: 1px;
  margin: 25px auto;
  width: 20%;
}

.bg-light {
  background-color: #eee;
}

.ta-c {
  text-align: center;
}
@media (max-width: 36em) {
  .ta-c-sm {
    text-align: center;
  }
}
@media (max-width: 48em) {
  .ta-c-md {
    text-align: center;
  }
}
@media (max-width: 62em) {
  .ta-c-lg {
    text-align: center;
  }
}
@media (max-width: 75em) {
  .ta-c-xlg {
    text-align: center;
  }
}

.ta-l {
  text-align: center;
}

.tt-u {
  text-transform: uppercase;
}

.tt-c {
  text-transform: capitalize;
}

.img-overlay {
  filter: brightness(60%);
}

.gap-1 {
  gap: 0.4em;
}
.gap-2 {
  gap: 0.8em;
}
.gap-3 {
  gap: 1.2em;
}
.gap-4 {
  gap: 1.6em;
}
.gap-5 {
  gap: 2em;
}

.grid {
  display: grid;
}
.grid-col-1 {
  grid-template-columns: 1fr;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (min-width: 36em) {
  .grid-sm-col-1 {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 36em) {
  .grid-sm-col-2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 36em) {
  .grid-sm-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 36em) {
  .grid-sm-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 48em) {
  .grid-md-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 48em) {
  .grid-md-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 48em) {
  .grid-md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 48em) {
  .grid-md-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 62em) {
  .grid-lg-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 62em) {
  .grid-lg-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62em) {
  .grid-lg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 62em) {
  .grid-lg-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 75em) {
  .grid-xlg-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 75em) {
  .grid-xlg-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 75em) {
  .grid-xlg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 75em) {
  .grid-xlg-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 87.5em) {
  .grid-xxlg-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 87.5em) {
  .grid-xxlg-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 87.5em) {
  .grid-xxlg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 87.5em) {
  .grid-xxlg-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
.flex-fs-1 {
  flex: 1;
}
.flex-stack {
  flex-direction: column;
}
.flex-as-fe {
  align-self: flex-end;
}
.flex-fd-c {
  flex-direction: column;
}
@media (max-width: 36em) {
  .flex-fd-c-sm {
    flex-direction: column;
  }
}
@media (max-width: 48em) {
  .flex-fd-c-md {
    flex-direction: column;
  }
}
@media (max-width: 62em) {
  .flex-fd-c-lg {
    flex-direction: column;
  }
}
@media (max-width: 75em) {
  .flex-fd-c-xlg {
    flex-direction: column;
  }
}
.flex-fg-1 {
  flex-grow: 1;
}
.flex-fd-r {
  flex-direction: row;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-s {
  justify-content: start;
}
.flex-fw-w {
  flex-wrap: wrap;
}
.flex-jc-e {
  justify-content: end;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-l {
  align-items: flex-end;
}
.flex-as-c {
  align-self: center;
}
.flex-js-c {
  justify-self: center;
}
.flex-as-fs {
  align-self: flex-start;
}
.flex-js-e {
  justify-self: end;
}
.flex-js-r {
  justify-self: right;
}
.flex-js-l {
  justify-self: left;
}

.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 2em;
}
.m-3 {
  margin: 3em;
}
.m-4 {
  margin: 4em;
}
.m-5 {
  margin: 5em;
}

.m-t-04 {
  margin-top: 0.4em;
}
.m-t-1 {
  margin-top: 1em;
}
.m-t-2 {
  margin-top: 2em;
}
.m-t-3 {
  margin-top: 3em;
}
.m-t-4 {
  margin-top: 4em;
}
.m-t-5 {
  margin-top: 5em;
}

.m-b-1 {
  margin-bottom: 1em;
}
.m-b-2 {
  margin-bottom: 2em;
}
.m-b-3 {
  margin-bottom: 3em;
}
.m-b-4 {
  margin-bottom: 4em;
}
.m-b-5 {
  margin-bottom: 5em;
}

.m-l-1 {
  margin-left: 1em;
}
.m-l-2 {
  margin-left: 2em;
}
.m-l-3 {
  margin-left: 3em;
}
.m-l-4 {
  margin-left: 4em;
}
.m-l-5 {
  margin-left: 5em;
}

.m-r-1 {
  margin-right: 1em;
}
.m-r-2 {
  margin-right: 2em;
}
.m-r-3 {
  margin-right: 3em;
}
.m-r-4 {
  margin-right: 4em;
}
.m-r-5 {
  margin-right: 5em;
}

.p-1 {
  padding: 1em !important;
}
.p-2 {
  padding: 2em !important;
}
.p-3 {
  padding: 3em !important;
}
.p-4 {
  padding: 4em !important;
}
.p-5 {
  padding: 5em !important;
}

.p-t-1 {
  padding-top: 1em;
}
.p-t-2 {
  padding-top: 2em;
}
.p-t-3 {
  padding-top: 3em;
}
.p-t-4 {
  padding-top: 4em;
}
.p-t-5 {
  padding-top: 5em;
}

.p-b-1 {
  padding-bottom: 1em;
}
.p-b-2 {
  padding-bottom: 2em;
}
.p-b-3 {
  padding-bottom: 3em;
}
.p-b-4 {
  padding-bottom: 4em;
}
.p-b-5 {
  padding-bottom: 5em;
}

.p-l-1 {
  padding-left: 1em;
}
.p-l-2 {
  padding-left: 2em;
}
.p-l-3 {
  padding-left: 3em;
}
.p-l-4 {
  padding-left: 4em;
}
.p-l-5 {
  padding-left: 5em;
}

.p-r-1 {
  padding-right: 1em;
}
.p-r-2 {
  padding-right: 2em;
}
.p-r-3 {
  padding-right: 3em;
}
.p-r-4 {
  padding-right: 4em;
}
.p-r-5 {
  padding-right: 5em;
}

.bs-1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bs-2 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.bs-3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bs-4 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bs-5 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.txt .col-1 {
  column: 1;
}
.txt .col-2 {
  column: 2;
}
.txt .col-3 {
  column: 3;
}
.txt .col-4 {
  column: 4;
}
@media (min-width: 36em) {
  .txt-sm-col-1 {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (min-width: 36em) {
  .txt-sm-col-2 {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 36em) {
  .txt-sm-col-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 36em) {
  .txt-sm-col-4 {
    -moz-columns: 4;
         columns: 4;
  }
}
@media (min-width: 48em) {
  .txt-md-col-1 {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (min-width: 48em) {
  .txt-md-col-2 {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 48em) {
  .txt-md-col-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 48em) {
  .txt-md-col-4 {
    -moz-columns: 4;
         columns: 4;
  }
}
@media (min-width: 62em) {
  .txt-lg-col-1 {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (min-width: 62em) {
  .txt-lg-col-2 {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 62em) {
  .txt-lg-col-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 62em) {
  .txt-lg-col-4 {
    -moz-columns: 4;
         columns: 4;
  }
}
@media (min-width: 75em) {
  .txt-xlg-col-1 {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (min-width: 75em) {
  .txt-xlg-col-2 {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 75em) {
  .txt-xlg-col-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 75em) {
  .txt-xlg-col-4 {
    -moz-columns: 4;
         columns: 4;
  }
}
@media (min-width: 87.5em) {
  .txt-xxlg-col-1 {
    -moz-columns: 1;
         columns: 1;
  }
}
@media (min-width: 87.5em) {
  .txt-xxlg-col-2 {
    -moz-columns: 2;
         columns: 2;
  }
}
@media (min-width: 87.5em) {
  .txt-xxlg-col-3 {
    -moz-columns: 3;
         columns: 3;
  }
}
@media (min-width: 87.5em) {
  .txt-xxlg-col-4 {
    -moz-columns: 4;
         columns: 4;
  }
}

.w-100 {
  width: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.vh-10 {
  height: 10vh;
}
@media (min-width: 36em) {
  .vh-10-sm {
    height: 10vh;
  }
}
@media (min-width: 48em) {
  .vh-10-md {
    height: 10vh;
  }
}
@media (min-width: 62em) {
  .vh-10-lg {
    height: 10vh;
  }
}
@media (min-width: 75em) {
  .vh-10-xlg {
    height: 10vh;
  }
}
.vh-15 {
  height: 15vh;
}
@media (min-width: 36em) {
  .vh-15-sm {
    height: 15vh;
  }
}
@media (min-width: 48em) {
  .vh-15-md {
    height: 15vh;
  }
}
@media (min-width: 62em) {
  .vh-15-lg {
    height: 15vh;
  }
}
@media (min-width: 75em) {
  .vh-15-xlg {
    height: 15vh;
  }
}
.vh-20 {
  height: 20vh;
}
@media (min-width: 36em) {
  .vh-20-sm {
    height: 20vh;
  }
}
@media (min-width: 48em) {
  .vh-20-md {
    height: 20vh;
  }
}
@media (min-width: 62em) {
  .vh-20-lg {
    height: 20vh;
  }
}
@media (min-width: 75em) {
  .vh-20-xlg {
    height: 20vh;
  }
}
.vh-25 {
  height: 25vh;
}
@media (min-width: 36em) {
  .vh-25-sm {
    height: 25vh;
  }
}
@media (min-width: 48em) {
  .vh-25-md {
    height: 25vh;
  }
}
@media (min-width: 62em) {
  .vh-25-lg {
    height: 25vh;
  }
}
@media (min-width: 75em) {
  .vh-25-xlg {
    height: 25vh;
  }
}
.vh-30 {
  height: 30vh;
}
@media (min-width: 36em) {
  .vh-30-sm {
    height: 30vh;
  }
}
@media (min-width: 48em) {
  .vh-30-md {
    height: 30vh;
  }
}
@media (min-width: 62em) {
  .vh-30-lg {
    height: 30vh;
  }
}
@media (min-width: 75em) {
  .vh-30-xlg {
    height: 30vh;
  }
}
.vh-35 {
  height: 35vh;
}
@media (min-width: 36em) {
  .vh-35-sm {
    height: 35vh;
  }
}
@media (min-width: 48em) {
  .vh-35-md {
    height: 35vh;
  }
}
@media (min-width: 62em) {
  .vh-35-lg {
    height: 35vh;
  }
}
@media (min-width: 75em) {
  .vh-35-xlg {
    height: 35vh;
  }
}
.vh-40 {
  height: 40vh;
}
@media (min-width: 36em) {
  .vh-40-sm {
    height: 40vh;
  }
}
@media (min-width: 48em) {
  .vh-40-md {
    height: 40vh;
  }
}
@media (min-width: 62em) {
  .vh-40-lg {
    height: 40vh;
  }
}
@media (min-width: 75em) {
  .vh-40-xlg {
    height: 40vh;
  }
}
.vh-45 {
  height: 45vh;
}
@media (min-width: 36em) {
  .vh-45-sm {
    height: 45vh;
  }
}
@media (min-width: 48em) {
  .vh-45-md {
    height: 45vh;
  }
}
@media (min-width: 62em) {
  .vh-45-lg {
    height: 45vh;
  }
}
@media (min-width: 75em) {
  .vh-45-xlg {
    height: 45vh;
  }
}
.vh-50 {
  height: 550px;
}
@media (min-width: 36em) {
  .vh-50-sm {
    height: 50vh;
  }
}
@media (min-width: 48em) {
  .vh-50-md {
    height: 50vh;
  }
}
@media (min-width: 62em) {
  .vh-50-lg {
    height: 50vh;
  }
}
@media (min-width: 75em) {
  .vh-50-xlg {
    height: 50vh;
  }
}
.vh-55 {
  height: 55vh;
}
@media (min-width: 36em) {
  .vh-55-sm {
    height: 55vh;
  }
}
@media (min-width: 48em) {
  .vh-55-md {
    height: 55vh;
  }
}
@media (min-width: 62em) {
  .vh-55-lg {
    height: 55vh;
  }
}
@media (min-width: 75em) {
  .vh-55-xlg {
    height: 55vh;
  }
}
.vh-60 {
  height: 60vh;
}
@media (min-width: 36em) {
  .vh-60-sm {
    height: 60vh;
  }
}
@media (min-width: 48em) {
  .vh-60-md {
    height: 60vh;
  }
}
@media (min-width: 62em) {
  .vh-60-lg {
    height: 60vh;
  }
}
@media (min-width: 75em) {
  .vh-60-xlg {
    height: 60vh;
  }
}
.vh-65 {
  height: 65vh;
}
@media (min-width: 36em) {
  .vh-65-sm {
    height: 65vh;
  }
}
@media (min-width: 48em) {
  .vh-65-md {
    height: 65vh;
  }
}
@media (min-width: 62em) {
  .vh-65-lg {
    height: 65vh;
  }
}
@media (min-width: 75em) {
  .vh-65-xlg {
    height: 65vh;
  }
}
.vh-70 {
  height: 70vh;
}
@media (min-width: 36em) {
  .vh-70-sm {
    height: 70vh;
  }
}
@media (min-width: 48em) {
  .vh-70-md {
    height: 70vh;
  }
}
@media (min-width: 62em) {
  .vh-70-lg {
    height: 70vh;
  }
}
@media (min-width: 75em) {
  .vh-70-xlg {
    height: 70vh;
  }
}
.vh-75 {
  height: 75vh;
}
@media (min-width: 36em) {
  .vh-75-sm {
    height: 75vh;
  }
}
@media (min-width: 48em) {
  .vh-75-md {
    height: 75vh;
  }
}
@media (min-width: 62em) {
  .vh-75-lg {
    height: 75vh;
  }
}
@media (min-width: 75em) {
  .vh-75-xlg {
    height: 75vh;
  }
}
.vh-80 {
  height: 80vh;
}
@media (min-width: 36em) {
  .vh-80-sm {
    height: 80vh;
  }
}
@media (min-width: 48em) {
  .vh-80-md {
    height: 80vh;
  }
}
@media (min-width: 62em) {
  .vh-80-lg {
    height: 80vh;
  }
}
@media (min-width: 75em) {
  .vh-80-xlg {
    height: 80vh;
  }
}
.vh-85 {
  height: 85vh;
}
@media (min-width: 36em) {
  .vh-85-sm {
    height: 85vh;
  }
}
@media (min-width: 48em) {
  .vh-85-md {
    height: 85vh;
  }
}
@media (min-width: 62em) {
  .vh-85-lg {
    height: 85vh;
  }
}
@media (min-width: 75em) {
  .vh-85-xlg {
    height: 85vh;
  }
}
.vh-90 {
  height: 90vh;
}
@media (min-width: 36em) {
  .vh-90-sm {
    height: 90vh;
  }
}
@media (min-width: 48em) {
  .vh-90-md {
    height: 90vh;
  }
}
@media (min-width: 62em) {
  .vh-90-lg {
    height: 90vh;
  }
}
@media (min-width: 75em) {
  .vh-90-xlg {
    height: 90vh;
  }
}
.vh-95 {
  height: 95vh;
}
@media (min-width: 36em) {
  .vh-95-sm {
    height: 95vh;
  }
}
@media (min-width: 48em) {
  .vh-95-md {
    height: 95vh;
  }
}
@media (min-width: 62em) {
  .vh-95-lg {
    height: 95vh;
  }
}
@media (min-width: 75em) {
  .vh-95-xlg {
    height: 95vh;
  }
}
.vh-100 {
  height: 100vh;
}
@media (min-width: 36em) {
  .vh-100-sm {
    height: 100vh;
  }
}
@media (min-width: 48em) {
  .vh-100-md {
    height: 100vh;
  }
}
@media (min-width: 62em) {
  .vh-100-lg {
    height: 100vh;
  }
}
@media (min-width: 75em) {
  .vh-100-xlg {
    height: 100vh;
  }
}

.fs-1 {
  font-size: 1rem;
}
@media (min-width: 36em) {
  .fs-1-sm {
    font-size: 1rem;
  }
}
@media (min-width: 48em) {
  .fs-1-md {
    font-size: 1rem;
  }
}
@media (min-width: 62em) {
  .fs-1-lg {
    font-size: 1rem;
  }
}
@media (min-width: 75em) {
  .fs-1-xlg {
    font-size: 1rem;
  }
}
.fs-2 {
  font-size: 1.5rem;
}
@media (min-width: 36em) {
  .fs-2-sm {
    font-size: 1.5rem;
  }
}
@media (min-width: 48em) {
  .fs-2-md {
    font-size: 1.5rem;
  }
}
@media (min-width: 62em) {
  .fs-2-lg {
    font-size: 1.5rem;
  }
}
@media (min-width: 75em) {
  .fs-2-xlg {
    font-size: 1.5rem;
  }
}
.fs-4 {
  font-size: 2rem;
}
@media (min-width: 36em) {
  .fs-4-sm {
    font-size: 2rem;
  }
}
@media (min-width: 48em) {
  .fs-4-md {
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .fs-4-lg {
    font-size: 2rem;
  }
}
@media (min-width: 75em) {
  .fs-4-xlg {
    font-size: 2rem;
  }
}
.fs-5 {
  font-size: 2.5rem;
}
@media (min-width: 36em) {
  .fs-5-sm {
    font-size: 2.5rem;
  }
}
@media (min-width: 48em) {
  .fs-5-md {
    font-size: 2.5rem;
  }
}
@media (min-width: 62em) {
  .fs-5-lg {
    font-size: 2.5rem;
  }
}
@media (min-width: 75em) {
  .fs-5-xlg {
    font-size: 2.5rem;
  }
}
.fs-6 {
  font-size: 3rem;
}
@media (min-width: 36em) {
  .fs-6-sm {
    font-size: 3rem;
  }
}
@media (min-width: 48em) {
  .fs-6-md {
    font-size: 3rem;
  }
}
@media (min-width: 62em) {
  .fs-6-lg {
    font-size: 3rem;
  }
}
@media (min-width: 75em) {
  .fs-6-xlg {
    font-size: 3rem;
  }
}
.fs-7 {
  font-size: 3.5rem;
}
@media (min-width: 36em) {
  .fs-7-sm {
    font-size: 3.5rem;
  }
}
@media (min-width: 48em) {
  .fs-7-md {
    font-size: 3.5rem;
  }
}
@media (min-width: 62em) {
  .fs-7-lg {
    font-size: 3.5rem;
  }
}
@media (min-width: 75em) {
  .fs-7-xlg {
    font-size: 3.5rem;
  }
}
.fs-8 {
  font-size: 4rem;
}
@media (min-width: 36em) {
  .fs-8-sm {
    font-size: 4rem;
  }
}
@media (min-width: 48em) {
  .fs-8-md {
    font-size: 4rem;
  }
}
@media (min-width: 62em) {
  .fs-8-lg {
    font-size: 4rem;
  }
}
@media (min-width: 75em) {
  .fs-8-xlg {
    font-size: 4rem;
  }
}
.fs-9 {
  font-size: 4.5rem;
}
@media (min-width: 36em) {
  .fs-9-sm {
    font-size: 4.5rem;
  }
}
@media (min-width: 48em) {
  .fs-9-md {
    font-size: 4.5rem;
  }
}
@media (min-width: 62em) {
  .fs-9-lg {
    font-size: 4.5rem;
  }
}
@media (min-width: 75em) {
  .fs-9-xlg {
    font-size: 4.5rem;
  }
}
.fs-10 {
  font-size: 5rem;
}
@media (min-width: 36em) {
  .fs-10-sm {
    font-size: 5rem;
  }
}
@media (min-width: 48em) {
  .fs-10-md {
    font-size: 5rem;
  }
}
@media (min-width: 62em) {
  .fs-10-lg {
    font-size: 5rem;
  }
}
@media (min-width: 75em) {
  .fs-10-xlg {
    font-size: 5rem;
  }
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

.row {
  display: flex;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }

  .offset-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333333%;
  }

  .offset-sm-5 {
    margin-left: 41.66666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333333%;
  }

  .offset-sm-8 {
    margin-left: 66.66666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333333%;
  }

  .offset-sm-11 {
    margin-left: 91.66666667%;
  }

  .g-sm-0,
.gx-sm-0 {
    --bs-gutter-x: 0;
  }

  .g-sm-0,
.gy-sm-0 {
    --bs-gutter-y: 0;
  }

  .g-sm-1,
.gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-sm-1,
.gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-sm-2,
.gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-sm-2,
.gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-sm-3,
.gx-sm-3 {
    --bs-gutter-x: 1rem;
  }

  .g-sm-3,
.gy-sm-3 {
    --bs-gutter-y: 1rem;
  }

  .g-sm-4,
.gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-sm-4,
.gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-sm-5,
.gx-sm-5 {
    --bs-gutter-x: 3rem;
  }

  .g-sm-5,
.gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }

  .g-md-0,
.gx-md-0 {
    --bs-gutter-x: 0;
  }

  .g-md-0,
.gy-md-0 {
    --bs-gutter-y: 0;
  }

  .g-md-1,
.gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-md-1,
.gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-md-2,
.gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-md-2,
.gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-md-3,
.gx-md-3 {
    --bs-gutter-x: 1rem;
  }

  .g-md-3,
.gy-md-3 {
    --bs-gutter-y: 1rem;
  }

  .g-md-4,
.gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-md-4,
.gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-md-5,
.gx-md-5 {
    --bs-gutter-x: 3rem;
  }

  .g-md-5,
.gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }

  .g-lg-0,
.gx-lg-0 {
    --bs-gutter-x: 0;
  }

  .g-lg-0,
.gy-lg-0 {
    --bs-gutter-y: 0;
  }

  .g-lg-1,
.gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-lg-1,
.gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-lg-2,
.gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-lg-2,
.gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-lg-3,
.gx-lg-3 {
    --bs-gutter-x: 1rem;
  }

  .g-lg-3,
.gy-lg-3 {
    --bs-gutter-y: 1rem;
  }

  .g-lg-4,
.gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-lg-4,
.gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-lg-5,
.gx-lg-5 {
    --bs-gutter-x: 3rem;
  }

  .g-lg-5,
.gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }

  .g-xl-0,
.gx-xl-0 {
    --bs-gutter-x: 0;
  }

  .g-xl-0,
.gy-xl-0 {
    --bs-gutter-y: 0;
  }

  .g-xl-1,
.gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xl-1,
.gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xl-2,
.gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xl-2,
.gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xl-3,
.gx-xl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xl-3,
.gy-xl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xl-4,
.gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xl-4,
.gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xl-5,
.gx-xl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xl-5,
.gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }

  .g-xxl-0,
.gx-xxl-0 {
    --bs-gutter-x: 0;
  }

  .g-xxl-0,
.gy-xxl-0 {
    --bs-gutter-y: 0;
  }

  .g-xxl-1,
.gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }

  .g-xxl-1,
.gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }

  .g-xxl-2,
.gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }

  .g-xxl-2,
.gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }

  .g-xxl-3,
.gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }

  .g-xxl-3,
.gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }

  .g-xxl-4,
.gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }

  .g-xxl-4,
.gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }

  .g-xxl-5,
.gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }

  .g-xxl-5,
.gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}
.t1 {
  flex-basis: 60%;
}

.t2 {
  flex-basis: 40%;
}

.l-s-t-n {
  list-style-type: none;
}

.hero {
  overflow: hidden;
}
.hero-img-item {
  position: relative;
  flex-grow: 2;
  width: 20%;
  border-radius: 50px;
  min-width: 125px;
  max-height: 300px;
  min-height: 150px;
  text-align: center;
}
@media (min-width: 36em) {
  .hero-img-item {
    width: 20%;
  }
}
@media (min-width: 62em) {
  .hero-img-item {
    width: 10%;
  }
}
.hero-img-item:hover {
  filter: invert(0.3);
  cursor: pointer;
  background-color: aqua;
}
.hero-img-caption {
  padding: 10px;
  color: white;
  font-size: 1.8em;
  position: absolute;
  z-index: 1;
  transform: scale(1);
}
@media (max-width: 36em) {
  .hero-img-caption {
    font-size: 1.4em;
  }
}

/**
 * Carousel.sass
 * @author: Dang Van Thanh
 * @github: https://github.com/dangvanthanh/carousel.sass
 * @description: A Simple Carousel Pure CSS Using Sass
 * @version: 1.0.0
 */
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel-next > label:nth-child(1), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel-prev > label:nth-child(4), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel-next > label:nth-child(5), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel-prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel-next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel-prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel-next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel-prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel-next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel-prev > label:nth-child(5) {
  opacity: 1 !important;
  z-index: 3;
}

.overall-caption {
  position: absolute;
}

.carousel {
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.carousel > input[type=radio]:checked ~ .carousel-items .carousel-item,
.carousel > input[type=radio]:checked ~ .carousel-prev > label,
.carousel > input[type=radio]:checked ~ .carousel-next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel-items .carousel-item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel-nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel-items .carousel-item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel-nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel-items .carousel-item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel-nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel-items .carousel-item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel-nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel-items .carousel-item:nth-child(5) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel-nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
}
.carousel-items .img-caption {
  color: white;
  position: absolute;
  text-align: center;
  width: 70%;
  z-index: 100;
}
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel-item img {
  position: relative;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-prev > label, .carousel-next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel-prev > label:hover, .carousel-prev > label:focus, .carousel-next > label:hover, .carousel-next > label:focus {
  opacity: 0.5 !important;
}
.carousel-prev > label:before, .carousel-prev > label:after, .carousel-next > label:before, .carousel-next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel-prev > label:before, .carousel-next > label:before {
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel-prev > label {
  left: 2%;
}
.carousel-prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel-next > label {
  right: 2%;
}
.carousel-next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel-nav {
  position: absolute;
  bottom: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 2000;
}
.carousel-nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 10px;
  height: 10px;
}

.speech-mark {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  display: none;
  padding: 10px;
}

.img-container {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  z-index: 200;
}
.img-container .profile-pic {
  border: 5px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.testimonials .fa-quote-right {
  font-size: 4em;
  color: #00ccff;
}
.testimonials .stars i {
  color: rgba(236, 214, 19, 0.603);
}
.testimonials .name {
  font-size: 1.1em;
  font-weight: lighter;
  margin-bottom: 10px;
  margin: 0;
}
.testimonials .testimonial-card {
  max-width: 250px;
  position: relative;
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;
  position: relative;
}
.testimonials .testimonial-card::after {
  top: -120px;
  left: -130px;
  width: 200px;
  height: 200px;
  background: #aee7ee;
  background: radial-gradient(circle, #aee7ee 0%, #8bceec 21%, #88ccec 23%, #6cb7ea 40%, #086ee6 100%);
  position: absolute;
}
.testimonials .testimonial-card img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
}
footer a {
  color: white;
}
footer-nav-list-1 {
  margin-left: auto;
}
footer-nav-list-2 {
  margin-right: auto;
}
footer .sm-links i {
  font-size: 2rem;
}

@media (max-width: 36em) {
  .footer-mobile {
    display: block;
    text-align: center;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.add-new-property-btn {
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  transition: background-color 200ms ease-in-out;
}

.add-new-property-btn:hover {
  background-color: #cccccc;
}

.property {
  display: flex;
  flex-wrap: wrap;
  max-width: 375px;
  height: 100%;
}
.property-img-container {
  width: 100%;
  height: 200px;
}
.property .property-info {
  width: 100%;
  padding: 20px;
}
.property ul li {
  padding: 5px;
  list-style: disc;
  list-style-position: inside;
}
.property .price-box {
  text-align: center;
  border-top: 1px solid #7a7575;
  padding: 20px;
  width: 100%;
}
.property .price-box .btn {
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 200ms ease-in-out;
}
.property .price-box .btn:hover {
  background-color: #9459cc;
  cursor: pointer;
}
.property .price-box .price {
  padding: 10px;
  font-size: 2em;
}

.bookings form {
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  margin-top: auto;
  padding: 20px;
}
.bookings .form-row {
  display: flex;
  gap: 10px;
}
.bookings .form-row .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-weight: bold;
}
@media (max-width: 36em) {
  .bookings .form-row {
    flex-wrap: wrap;
  }
}
.bookings .form-row input {
  border: none;
  padding: 10px;
}
.bookings .btn-submit {
  font-weight: 700;
  border: none;
  background-color: #304355;
  color: white;
}

.enquiry {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
}

:root {
  --danger-color:#d9534f;
  --success-color:#5cb85c;
}

.danger-color {
  color: var(--danger-color);
}

.success-color {
  color: var(--success-color);
}

.property-details {
  flex-basis: 80%;
}

.see-also-image-container {
  width: 100%;
}
.see-also img {
  width: 100%;
  height: 100%;
}

.see-also {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 10px;
}
.see-also-img-item {
  position: relative;
  flex-grow: 2;
  width: 100%;
  min-width: 125px;
  max-height: 300px;
  min-height: 150px;
  text-align: center;
}
@media (min-width: 36em) {
  .see-also-img-item {
    width: 30%;
  }
}
@media (min-width: 62em) {
  .see-also-img-item {
    width: 20%;
  }
}
.see-also-img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.see-also-img-item:hover {
  filter: invert(0.3);
  cursor: pointer;
  background-color: aqua;
}

.back-div a {
  justify-self: flex-start;
  align-self: flex-start;
  margin-right: auto;
  padding: 1rem;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  justify-content: center;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  max-width: 200px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/
.contact-form {
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  margin: 0;
  width: 100%;
}

.contact-form input:focus {
  outline: 1px solid #0088ff;
  border: 1px solid #fff;
}

.contact-form input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 1rem;
  background-color: #9459cc;
  color: #ffff;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-text {
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
}

.social {
  width: 400px;
  margin: 0;
}

.social-links {
  font-size: 1.8rem;
  width: 500px;
}

.fa-brands {
  font-size: 2rem;
}

.fa-solid {
  font-size: 2rem;
}

.about .content {
  height: 100%;
}

.about-image {
  max-width: 100%;
  height: 200px;
}

.overview .about {
  display: flex;
  flex-wrap: wrap;
}
.overview .about > * {
  flex-basis: 50%;
}

.property-thumbnail-image {
  max-width: 500px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.btn-2 {
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-2-sign-up {
  background-color: blueviolet;
  color: white;
}

.btn.btn-logout.invert {
  color: #212529;
  border: 1px solid #ccc;
}

.btn:hover, .btn.btn-logout:hover {
  background-color: #212529;
  color: #ffff;
  border: 1px solid #0091d0;
  cursor: pointer;
  z-index: 20000 !important;
}

.btn.btn-logout {
  transition: all 150ms ease-in-out;
}

.back {
  padding: 1rem;
  color: #fff;
  background-color: #212529 !important;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.4rem;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.5rem;
  border-radius: 6px;
  top: 2rem;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sign-up input {
  border: none;
  width: 100%;
}
.back-to-top {
  font-size: 1.4em;
}

.enquiry-form label {
  margin: 10px 0px 10px;
}
.enquiry-form input {
  padding: 10px;
  border: none;
}
.enquiry-form .column {
  width: 100%;
}
.enquiry-form button {
  width: 70%;
  margin: auto;
}

.relative {
  position: relative;
}

.z-0 {
  z-index: 0;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.font-medium {
  font-weight: 500;
}

.text-gray-500 {
  color: #a0aec0;
}

.bg-white {
  background-color: #fff;
}

.border {
  border-width: 1px;
}

.border-gray-300 {
  border-color: #e2e8f0;
}

.cursor-default {
  cursor: default;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.rounded-md {
  border-radius: 0.375rem;
}

.hover\:text-gray-500:hover {
  color: #a0aec0;
}

.hidden {
  display: none;
}

.sm\:flex {
  display: flex;
}

.sm\:flex-1 {
  flex: 1 1 0%;
}

.sm\:items-center {
  align-items: center;
}

.sm\:justify-between {
  justify-content: space-between;
}

.website-settings-form-container {
  max-width: 900px;
  width: 100%;
  background-color: white;
  margin-bottom: auto;
  margin-top: 1rem;
}

.website-settings-form-container form {
  margin-top: 1rem;
}

.website-settings-form input {
  padding: 0.3em 0.3rem;
}

.website-settings-form .form-controls {
  display: flex;
  gap: 0.3rem;
}

.button {
  padding: 1rem;
  background-color: #a127a1;
  color: #fff;
  border: 1px solid #ccc;
}

.website_logo_thumbnail-container {
  width: 100px;
  height: 100px;
}

.website_logo_thumbnail-container img {
  width: auto;
  height: auto;
}

.full-screen-container {
  background-color: #00365a;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-container .icon-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-container .icon-container > i {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 40%;
  background-color: #ededed;
}
.full-screen-container .form-title {
  background-color: #0091d0;
  padding: 1rem 0px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ffff;
  width: 100%;
}
.full-screen-container form {
  height: 100%;
}
.full-screen-container .login-form-container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 1rem;
  background-color: #ffff;
  color: #b7b7b7;
  background-color: #ffff;
  font-size: 1.5em;
}
.full-screen-container .login-form-container .form-body {
  border-radius: 10px;
  height: 100%;
  width: 95%;
  margin-inline: auto;
  padding: 2rem;
}
.full-screen-container .login-form-container .form-title {
  text-align: center;
}
.full-screen-container .login-form-container .form-controls {
  margin-bottom: 20px;
  justify-content: space-between;
}
.full-screen-container .login-form-container .form-controls label {
  margin-bottom: 7px;
}
.full-screen-container .login-form-container .form-controls input {
  background-color: none;
  padding: 1rem;
  outline: none;
  border: 2px solid #ccc;
}
.full-screen-container .login-form-container .form-controls input:focus {
  border: 2px solid #00365a;
}
.full-screen-container .login-form-container .login-button {
  background-color: #00365a;
  color: #ffff;
  width: 100%;
  text-transform: uppercase;
  padding: 1rem;
  font-size: large;
  border: none;
}

.add-new-property-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-inline: auto;
  gap: 1rem;
  padding: 1rem;
}
.add-new-property-form .form-control {
  gap: 1rem;
}
.add-new-property-form .form-control input[type=number] {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid #ccc;
}
.add-new-property-form .form-control input[type=text] {
  padding: 0.9rem 0.5rem;
  border: 1px solid #ccc;
}
.add-new-property-form .image-thumbnail-preview {
  position: relative;
}
.add-new-property-form .image-thumbnail-preview #blah {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-new-property-form .property-gallery-images {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.red-border {
  border: 1px solid #ff0000 !important;
}

.error-message-container .error-message {
  color: red;
}
