
.about {
    
    .content {
    
        height:100%;
    }

   
}
.about-image {


   
    max-width:100%;
    height:clamp(200px, 0px,1000px);


}


.about-image img {





    
}

.overview {
    .about {
        display:flex;
        flex-wrap: wrap;
      
    }
    .about > * {
        flex-basis: 50%;
    }
}

.property-thumbnail-image {
    max-width:500px;
    height:max-content;
}