.contact-form {


    gap:1rem;
    max-width:400px;
    width:100%;
    margin:0;
    width:100%;
   
   
}

.contact-form input:focus {
    outline:1px solid rgb(0, 136, 255);

    border:1px solid #fff;
}
.contact-form input {
    padding:.6rem;
    border:1px solid #ccc;
    border-radius:5px;

}
.contact-form textarea {
    border:1px solid #ccc;
    border-radius:5px;
}
.contact-form button {
    padding:1rem;
    background-color:#9459cc;
    color:#ffff;
    border:none;
    font-weight:bold;
    font-size:1.2rem;
}