.enquiry-form {

   
    label {
      margin:10px 0px 10px;
    }
    input {
        padding:10px;
        border:none;

    }
    .column {
        width:100%;
    }
    button {
        width:70%;
        margin:auto;
    }
}